#separator_pluginAppObj_10_75 {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin: 0 auto;
  overflow: hidden;
}
#pluginAppObj_10_75 {
  width: 100%;
}
#separator_pluginAppObj_10_75 .separator-line {
  width: 100%;
  border-top: 3px solid rgba(255, 101, 1, 1);
}
#separator_pluginAppObj_10_75 .separator-line.left-line {
  margin-right: 10px;
}
#separator_pluginAppObj_10_75 .separator-line.right-line {
  margin-left: 10px;
}
#separator_pluginAppObj_10_75 .separator-text {
  font-family: PT Sans Narrow;
  font-weight: normal;
  font-style: normal;
  font-size: calc(14pt - max(14pt - var(--min-text-size), 0pt) * var(--font-size-factor)) ;
  color: rgba(255, 101, 1, 1);
  text-align: center;
  text-wrap-mode: nowrap;
}
